html
  head
    body
      form (method="post" action="")
        Host input (type="text" name="host")
        Username: 
          input (type="text" name="username")
        Password: 
          input (type="password" name="password")
        input (type="submit" value="Go")
